<<<<<<< HEAD
=======
/* common.css. */
>>>>>>> 51029976fbcfb38fd3844160cd9346f06b2eac59
:root {
        --primary: #2c3e50;
        --accent: #3498db;
        --bg: #ecf0f1;
        --text: #171a1d;
        --hover: #2980b9;
<<<<<<< HEAD
    }
    
=======
    }
>>>>>>> 51029976fbcfb38fd3844160cd9346f06b2eac59
