/* common.css.. */

/*from GEEKOM */
/*from DELL /*

:root {
        --primary: #2c3e50;
        --accent: #3498db;
        --bg: #ecf0f1;
        --text: #171a1d;
        --hover: #2980b9;
    }
    
    }
